body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 508px;
  margin: 8px auto;
}

header {
  background: black;
  color: white;
  text-align: center;
  padding: 4px 0;
}

header > h1 {
  font-size: 300%;
  font-weight: normal;
  margin: 0;
}

nav {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  margin: 12px 0;
  width: 100%;
}

#prev-day {
  margin-left: 1em;
}

#next-day {
  margin-right: 1em;
}

section > h2 {
  padding-left: 4px;
}

article {
  padding: 4px;
}

article:nth-of-type(odd) {
  background: #ddd;
}

article > .metadata {
  font-size: 10px;
  padding-top: 4px;
}

time.date {
  font-weight: bolder;
}

footer {
  padding: 4px 0;
}

footer > * {
  font-size: 10px;
  margin-top: 4px;
  padding: 4px;
  text-align: center;
}

#copyright {
  background: black;
  color: white;
}

#source {
  font-weight: bolder;
}

@media (max-width: 499px) {
  body {
    font-size: 20;
    margin: 0;
  }

  nav {
    font-size: 14px;
  }

  article > .metadata {
    font-size: 14px;
  }

  footer > * {
    font-size: 14px;
  }

  #source {
    font-weight: normal;
  }
}
